.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 255, 0.342);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: rgba(0, 0, 255, 0.692);
  padding: 25px;
  position: relative;
}
.close {
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
  color: rgb(255, 0, 247);
  position: absolute;
  top: 15;
  left: 15;
  z-index: 999;
  cursor: pointer;
}
